.header-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
}

.description-card {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 0 10px;
  border-bottom: #ebebeb dotted 1px;
}

.desc-card-left {
  display: flex;
}

.desc-card-left p {
  margin-right: 10px;
}

.negrito {
  font-weight: 400;
  font-size: 0.8;
}