.form-add-bill{
  margin: 20px 0;
  border-radius: 4px;
  background: #fff;
  padding: 10px; 
  color: #555;

  form div {
    padding: 5px 0;
    label{
      display: block;
      padding: 3px 0;
    }

    button, input {
      padding: 10px;
      border: 1px solid #555;
      border-radius: 4px;
      box-shadow: none;
    }

    input[type]:not([type="checkbox"]) {
      width: 100%;
    }
    
    input[type]:not([type="checkbox"]).small-input {
      width: 80px;
    }

    input[type="date"] {
      position: relative;
    }
  
    /* create a new arrow, because we are going to mess up the native one
    see "List of symbols" below if you want another, you could also try to add a font-awesome icon.. */
    input[type="date"]:after {
        content: "📅"; 
        color: #555;
        padding: 0 5px;
    }
  
  /* change color of symbol on hover */
  input[type="date"]:hover:after {
      color: #00bf29;
  }
  
  /* make the native arrow invisible and stretch it over the whole field so you can click anywhere in the input field to trigger the native datepicker*/
  input[type="date"]::-webkit-calendar-picker-indicator {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: auto;
      height: auto;
      color: transparent;
      background: transparent;
  }
  
  /* adjust increase/decrease button */
  input[type="date"]::-webkit-inner-spin-button {
      z-index: 1;
  }
  
   /* adjust clear button */
   input[type="date"]::-webkit-clear-button {
       z-index: 1;
   }
  }

  div.actions {
    display: flex;
    justify-content: right;

    .btn-add {
      cursor: pointer;
      color: #fff;
      background-color: #1bd273;
      width: 120px !important;
    }

    .btn-add:hover {
      background-color: #19c76d;
      font-weight: bold;
    }
  }

}