/* GLOBALS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ebebeb;
  font-family: 'Poppins', sans-serif;
}

/* MAIN ========================================= */
.container {
  width: calc(min(90vw, 800px));
  margin: 0 auto;
}

.pointer {
  cursor: pointer;
}
