/* GLOBALS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ebebeb;
  font-family: "Poppins", sans-serif;
}

*,
button,
input {
  border: 0;
  background: none;
}

/* MAIN ========================================= */
.container {
  width: calc(min(90vw, 1400px));
  margin: 0 auto;
}

.pointer {
  cursor: pointer;
}

.overdue {
  color: rgb(238, 34, 34);
}
