/*PAYMENTS BOX ===================================*/
.payments {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;

  section {
    flex: 1 1 690px;

    .title {
      display: flex;
      justify-content: space-between;

      h3 {
        color: #555;
        font-size: 1rem;
        font-weight: 400;
        padding: 10px;
      }

      .total {
        color: #1bd273;
      }
    }


    .icon-bill {
      padding: 10px;
      align-items: center;
      color: #1bd273;
    }
    
    .unpaid  .icon-bill  {
      color: red;
    }

    .container-bills, .container-creditcard {
      height: 370px;
      overflow-y: auto;
    }
  }
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #ebebeb dotted 1px;
  font-weight: 400;

  small {
    font-weight: 300;
  }
}

.description-left {
  display: flex;
}

.value-bill-icon {
   display: flex;
   align-items: center;

   button {
     background-color: #fff;
     border: #ebebeb 1px solid;
     border-radius: 6px;
     padding: 2px;
     margin: 0 1px;
     i {
       font-style: normal;
       text-align: center;
     } 
   }

  button:hover {
    background-color: #ebebeb;
  }
}

.value-bill-icon i{
  padding: 2.6px;
  /* color: greenyellow; */
}

.pay-card-boxes {
  border-radius: 4px;
  background: #fff;
  padding: 10px; 
  font-size: 0.8rem;
  font-weight: 100;
  color: #555; 
}

