/*PAYMENTS BOX ===================================*/
#payments {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 20px; 
}

.icon-bill {
  padding: 10px;
  align-items: center;
  color: #1bd273;
}

.unpaid  .icon-bill  {
    color: red;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #ebebeb dotted 1px;
}

.description-left {
  display: flex;
}

 .value-bill-icon {
   display: flex;
   align-items: center;
  }

.value-bill-icon i{
  padding: 10px;
  /* color: greenyellow; */
}

.pay-card-boxes {
  border-radius: 4px;
  background: #fff;
  padding: 10px; 
  font-size: 0.8rem;
  font-weight: 100;
  color: #555; 
}

.container-bills {
  height: 185px;
  overflow-y: scroll;
}